apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: readarr
  name: readarr
spec:
  replicas: 1
  selector:
    matchLabels:
      run: readarr
  template:
    metadata:
      labels:
        run: readarr
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: chown
        image: busybox
        command: ["sh", "-c", "chown -R 1000:1000 /config /books /comics /audiobooks"]
        volumeMounts:
        - mountPath: /config
          name: htpc-home
          subPath: readarr
        - mountPath: /books
          name: htpc-home
          subPath: media/books/books
        - mountPath: /audiobooks
          name: htpc-home
          subPath: media/books/audiobooks
        - mountPath: /comics
          name: htpc-home
          subPath: media/books/comics
      containers:
      - name: readarr
        image: lscr.io/linuxserver/readarr
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: Pacific/Auckland
        - name: READARR__SERVER__URLBASE
          value: /readarr
        - name: READARR__AUTH__APIKEY
          valueFrom:
            configMapKeyRef:
              name: arr-apps-api-key
              key: api_key
        ports:
        - containerPort: 8787
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - curl "http://localhost:8787/readarr/api/v1/health?ApiKey=$(READARR__AUTH__APIKEY)"
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - curl "http://localhost:8787/readarr/api/v1/system/status?ApiKey=$(READARR__AUTH__APIKEY)"
          initialDelaySeconds: 30
          periodSeconds: 10
        volumeMounts:
        - mountPath: /config
          name: htpc-home
          subPath: readarr
        - mountPath: /books
          name: htpc-home
          subPath: media/books/books
        - mountPath: /audiobooks
          name: htpc-home
          subPath: media/books/audiobooks
        - mountPath: /comics
          name: htpc-home
          subPath: media/books/comics
        - mountPath: /downloads
          name: htpc-home
          subPath: downloads
