apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: htpc

commonLabels:
  app: htpc

resources:
- namespace.yaml
- jackett
- radarr
- sonarr
- bazarr
- prowlarr
- transmission
- ingress-route.yaml
- readarr
- jellyfin
- kavita
- lidarr

patchesStrategicMerge:
- volumes_patch.yaml
- env_variables_patch.yaml

configMapGenerator:
- name: arr-apps-api-key
  literals:
  - api_key=e575a60f4f4335d8109fd60355b7c650
