apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: htpc

commonLabels:
  app: htpc

resources:
- namespace.yaml
- api-key-configmap.yaml
- jackett
- radarr
- sonarr
- bazarr
- prowlarr
- transmission
- ingress-route.yaml
- readarr
- jellyfin
- kavita
- lidarr

patchesStrategicMerge:
- volumes_patch.yaml
- env_variables_patch.yaml
