apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: htpc

commonLabels:
  app: htpc

resources:
- namespace.yaml
- jackett
- radarr
- sonarr
- bazarr
- prowlarr
- transmission
- ingress-route.yaml
- readarr
- jellyfin
- kavita
- lidarr

patchesStrategicMerge:
- volumes_patch.yaml
- env_variables_patch.yaml

vars:
  - name: SONARR
    objref:
      kind: Service
      name: sonarr
      apiVersion: v1
  - name: RADARR
    objref:
      kind: Service
      name: radarr
      apiVersion: v1
  - name: PROWLARR
    objref:
      kind: Service
      name: prowlarr
      apiVersion: v1
  - name: READARR
    objref:
      kind: Service
      name: readarr
      apiVersion: v1
  - name: KAVITA
    objref:
      kind: Service
      name: kavita
      apiVersion: v1
  - name: LIDARR
    objref:
      kind: Service
      name: lidarr
      apiVersion: v1
