---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: sonarr
  name: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      run: sonarr
  template:
    metadata:
      labels:
        run: sonarr
    spec:
      securityContext:
        # runAsUser: 1000
        # runAsGroup: 1000
        fsGroup: 1000    
      initContainers:
      - name: chown
        image: busybox
        command: ["sh", "-c", "chown -R 1000:1000 /config && chown -R 1000:1000 /tv"]
        volumeMounts:
        - mountPath: /config 
          name: htpc-home
          subPath: sonarr    
        - mountPath: /tv 
          name: htpc-home
          subPath: media/tv                
      containers:
      - env:
        - name: TZ
          value: Pacific/Auckland
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: SONARR__SERVER__URLBASE
          value: /sonarr
        - name: SONARR__AUTH__APIKEY
          valueFrom:
            configMapKeyRef:
              name: arr-apps-api-key
              key: api_key
        image: linuxserver/sonarr
        name: sonarr
        ports:
        - containerPort: 8989
          name: webui
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - curl "http://localhost:8989/sonarr/api/health?ApiKey=$SONARR__AUTH__APIKEY"
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - curl "http://localhost:8989/sonarr/api/system/status?ApiKey=$SONARR__AUTH__APIKEY"
          initialDelaySeconds: 30
          periodSeconds: 10
        volumeMounts: 
        - mountPath: /config 
          name: htpc-home
          subPath: sonarr
        - mountPath: /tv 
          name: htpc-home
          subPath: media/tv
        - mountPath: /downloads 
          name: htpc-home
          subPath: downloads
