name: test

on:
  pull_request:
  push:
    branches:
      - 'master'

jobs:
  manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup tools
        uses: ./.github/actions/tools
        with:
          yq_version: "v4.20.2"
      - name: Validate manifests
        run: ./scripts/validate.sh
